# NLP Predict Disaster Tweet Classifier

### Notebook Description
The following notebook explores a model attempting to classify a set of tweets with the appropriate label: 1 for tweets about real disasters and 0 for tweets not about real disasters.

In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

## Data loading and analysis

In [15]:
tweets = pd.read_csv('train.csv')
display(tweets.head(5))
print(f'{tweets.shape[0]} entries with {tweets.shape[1]} features')

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

7613 entries with 5 features

In [22]:
display(tweets.iloc[0,:])
pd.isna(tweets.iloc[0,2])

id                                                          1
keyword                                                   NaN
location                                                  NaN
text        Our Deeds are the Reason of this #earthquake M...
target                                                      1
Name: 0, dtype: object

True